.happeningNow {
  @media (prefers-reduced-motion: reduce) {
    background: linear-gradient(
      to bottom,
      hsl(145, 80%, 10%),
      var(--background-secondary)
    );
  }

  @media (prefers-reduced-motion: no-preference) {
    background:
      linear-gradient(
        90deg,
        hsla(0, 0%, 100%, 0) 0%,
        hsla(143, 64%, 24%, 0.3) 50%,
        hsla(0, 0%, 100%, 0) 100%
      ),
      linear-gradient(
        to bottom,
        hsl(145, 80%, 10%),
        var(--background-secondary)
      );
    background-size:
      200% 100%,
      100% 100%;
    animation: shimmer 5s linear infinite;
  }
}

@keyframes shimmer {
  0% {
    background-position:
      200% 0,
      0 0;
  }
  100% {
    background-position:
      0 0,
      0 0;
  }
}
