name: Build Lambda functions (pnpm)

on:
  workflow_call:
    inputs:
      git_ref:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5.0.1
        with:
          ref: ${{ inputs.git_ref }}

      - uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.26.0

      - uses: actions/setup-node@v6.1.0
        with:
          node-version-file: "pnpm-monorepo/.nvmrc"
          cache: "pnpm"
          cache-dependency-path: "pnpm-monorepo/pnpm-lock.yaml"

      - name: Install dependencies
        run: pnpm install
        working-directory: pnpm-monorepo

      - name: Build
        run: pnpm run build:lambda
        working-directory: pnpm-monorepo

      - name: Store artifact (midnight-automations)
        uses: actions/upload-artifact@v4.6.2
        with:
          name: midnight-automations-dist
          path: pnpm-monorepo/apps/lambda/build/midnight-automations.zip
          retention-days: 1

      - name: Store artifact (notification-router)
        uses: actions/upload-artifact@v4.6.2
        with:
          name: notification-router-dist
          path: pnpm-monorepo/apps/lambda/build/notification-router.zip
          retention-days: 1

      - run: mv pnpm-monorepo/apps/lambda/build/scrape-discord-events.zip pnpm-monorepo/apps/lambda/build/scrape-discord-events-function.zip
      - name: Store artifact (scrape-discord-events)
        uses: actions/upload-artifact@v4.6.2
        with:
          name: scrape-discord-events-function-dist
          path: pnpm-monorepo/apps/lambda/build/scrape-discord-events-function.zip
          retention-days: 1
